<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Studying Venture Capital | {{ page.title }}</title>

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/3.2.2/anchor.js"></script>
    
    <meta name="viewport" content="width=device-width">
    
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
        <p>{{ site.description | default: site.github.project_tagline }}</p>
        <br>
        <h4>Tags</h4>
        {% for tag in tags %}
	      <a href="#{{ tag | slugify }}"> {{ tag }} </a>
        {% endfor %}
	      
	      <script>
	  (function() {
	    var cx = '014102689751086055097:169r4gy7s68';
	    var gcse = document.createElement('script');
	    gcse.type = 'text/javascript';
	    gcse.async = true;
	    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
	    var s = document.getElementsByTagName('script')[0];
	    s.parentNode.insertBefore(gcse, s);
	  })();
	</script>
	<gcse:searchbox-only></gcse:searchbox-only>
      </header>
      <section>
	      
	<div>
		<script>
		  (function() {
		    var cx = '014102689751086055097:169r4gy7s68';
		    var gcse = document.createElement('script');
		    gcse.type = 'text/javascript';
		    gcse.async = true;
		    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
		    var s = document.getElementsByTagName('script')[0];
		    s.parentNode.insertBefore(gcse, s);
		  })();
		</script>
		<gcse:searchresults-only></gcse:searchresults-only>
	</div>

        <h1>{{ page.title }} </h1>
        <h3>Source</h3>
	{% if page.sourcelink %}
	      	<p><a href="{{ page.sourcelink }}" target="_blank">{{ page.source }}</a></p> 
	{% else %}      
		<p>{{ page.source }}</p> 
	{% endif %}
	<h3>Authors</h3>
	{% for author in page.authors %}
	      <p>{{ author.name }} • {{ author.affiliation }} </p>
	{% endfor %}
	      
	<h3>Abstract</h3>
	<p>{{ page.abstract }} <p>
	<h3>Full Text</h3>
	<h4><a href="{{page.link}}" target="_blank"><img border="0" padding-right="5" height="30" src="http://studying.vc/pdf.png" style="vertical-align:middle">Download</a></h4>
	<h3>Share This</h3>
	      <span>
	      
		      
		 <div class="addthis_inline_share_toolbox"></div>
	      </span>	      
	      
	      <hr>
	      {% if page.comments %}
	      <h2>Comments</h2>
	      <div id="disqus_thread"></div>
		<script>

		var disqus_config = function () {
		this.page.url = 'http://studying.vc{{ page.url }}';  // Replace PAGE_URL with your page's canonical URL variable
		this.page.identifier = '{{ page.title | slugify }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
		};
		
		(function() { // DON'T EDIT BELOW THIS LINE
		var d = document, s = d.createElement('script');
		s.src = '//studyingvc.disqus.com/embed.js';
		s.setAttribute('data-timestamp', +new Date());
		(d.head || d.body).appendChild(s);
		})();
		</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	      {% endif %}

      </section>
	   
	
      <footer>
         <p class="view"><a href="http://fjj.io">About Me</a></p>
        
        {% if site.github.is_project_page %}
          <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ github_name }}</small></a></p>
        {% endif %}


         <a href="https://twitter.com/studyingVC" class="twitter-follow-button" data-show-count="false">Follow @studyingVC</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>


  {% if site.google_analytics %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
    </script>
  {% endif %}
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-58a91a62be6beb3c"></script> 
    
    <script>
      anchors.add('h3');
    </script>
    
  </body>
</html>
