<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ site.title | default: site.github.repository_name }} by {{ site.github.owner_name }}</title>

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://use.fontawesome.com/bceede4884.js"></script>
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
        <p>{{ site.description | default: site.github.project_tagline }}</p>

        {% if site.github.is_project_page %}
          <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ github_name }}</small></a></p>
        {% endif %}

        {% if site.github.is_user_page %}
          <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>
        {% endif %}

        
        <a href="/entrepreneurship.html">Entrepreneurship and Innovation</a>  
        <br>
        <a href="/vc-firms.html">Venture Capital Firms &amp; Strategy</a>
        <br>
        <a href="/angels.html">Angel Investment and Crowdfunding</a>
        <br>
        <a href="/finance.html">Venture Finance</a>
        <br>
        <a href="/deals.html">VC Deal Selection and Decision Making</a>
        <br>
        <a href="/diversity.html">Diversity and Equality</a>
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
         <p class="view"><a href="http://fjj.io">About Me</a></p>
         <a href="https://twitter.com/studyingVC" class="twitter-follow-button" data-show-count="false">Follow @studyingVC</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>


  {% if site.google_analytics %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
    </script>
  {% endif %}
    <script>
      var anchorForId = function (id) {
      var anchor = document.createElement("a");
      anchor.className = "header-link";
      anchor.href      = "#" + id;
      anchor.innerHTML = "<i class=\"fa fa-link\"></i>";
      return anchor;
    };

    var linkifyAnchors = function (level, containingElement) {
      var headers = containingElement.getElementsByTagName("h" + level);
      for (var h = 0; h < headers.length; h++) {
        var header = headers[h];

        if (typeof header.id !== "undefined" && header.id !== "") {
          header.appendChild(anchorForId(header.id));
        }
      }
    };

    document.onreadystatechange = function () {
      if (this.readyState === "complete") {
        var contentBlock = document.getElementsByClassName("docs")[0] || document.getElementsByClassName("news")[0];
        if (!contentBlock) {
          return;
        }
        for (var level = 1; level <= 6; level++) {
          linkifyAnchors(level, contentBlock);
        }
      }
    };
    </script>
  </body>
</html>
