---
layout: default
---


<div class="article">
  <header class="article-header">
    <h1 class="h2">Articles tagged with <em>"Finance"</em></h1>
  </header>
  
  {% assign articles = site.articles | where: "category", "finance" %}

  <article class="article-content">
    <ol>
      {% for article in articles %}
      <li>
        foo
        <a class="post-link" href="{{article.url | prepend: site.baseurl}}"><h3 class="post-title mb0">{{article.title}}</h3></a>

      </li>
      {% endfor %}
    </ol>
  </article>
</div>
