---
layout: default
---


<div >
  
    <h1 class="h2">Articles tagged with <em>"Finance"</em></h1>
  
  
  {% assign articles = site.articles | where: "category", {{ page.tag }} %}


      {% for article in articles %}
  
            
        <h3><a href="{{article.url | prepend: site.baseurl}}">{{article.title}}</a></h3>
    <h4>{{ article.source }}</h4>
    <p> {{ article.excerpt }} </p> 
    
      {% endfor %}

  
        {% for category in site.articles.categories %}
        {{ category | first }}{% unless forloop.last %},{% endunless %}
        {% endfor %}
    


  
</div>
