---
layout: default
---

<div class="article">
  <header class="article-header">
    <h1 class="h2">Articles tagged with <em>"{{ site.data.tags[page.tag].name }}"</em></h1>
  </header>

  <article class="article-content">
    <ol>
      {% for article in site.data.tags[page.tag] %}
      <li>
        <a class="post-link" href="{{post.url | prepend: site.baseurl}}"><h3 class="post-title mb0">{{article.title}}</h3></a>
        <p class="post-meta small">{{ article.date | date: site.date_format }}</p>
        <div class="small">
          {% include post_tags.html tags-class="small" %}
        </div>
      </li>
      {% endfor %}
    </ol>
  </article>
</div>
